<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Financial Report</title>
    <style>
        .center_div {
            border: 1px solid gray;
            margin-left: auto;
            margin-right: auto;
            /*background-color: #d0f0f6;*/
            text-align: left;
            padding: 8px;
        }

        .col-first {
            font-style: italic;
        }

        .table-header {
            font-size: 16px;

        }

    </style>
</head>
<body>

<div class="center_div">
    <h3>Relatório Financeiro</h3>
    <table>
        <thead>
        <tr>
            <th class="table-header">Dezembro</th>
        </tr>
        </thead>
        <tr id="tr-total-balance">
            <th class="col-first">Saldo Total</th>
            <td id="total-balance-value"></td>
        </tr>
        <tr id="tr-total-cost">
            <th class="col-first">Custo Total</th>
            <td id="total-cost-value"></td>
        </tr>
        <tr id="tr-budget">
            <th class="col-first">Orçamento</th>
            <td id="budget-value"></td>
        </tr>
        <tr id="tr-most-exp">
            <th class="col-first">Habitante mais caro</th>
            <td id="most-exp-value"></td>
        </tr>
    </table>
</div>
<hr/>
<table>
    <tr>
        <th>Sent by</th>
        <td id="sender"></td>
    </tr>
    <tr>
        <th>From queue</th>
        <td id="target"></td>
    </tr>

</table>
</div>


</body>
</html>